.sideBar {
  min-width: 100px;
  width: 200px;
  color: #fff;
  background-color: #000;
  padding: 0 20px;
}
.sideBar__logo {
  margin-top: 20px;
  height: 40px;
  object-fit: contain;
  max-width: 100%;
}
.sideBar__group1 {
  margin: 20px 0 40px 0;
}
.sideBar__group2 {
  border-bottom: 1px solid #424242;
}
.sideBar__group2-one,
.sideBar__group2-two {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 25px;
  min-width: 25px;
  margin-right: 16px;
}
.sideBar__group2-one {
  background-color: #b3b3b3;
  color: #000;
}
/* .sideBarOption is the parent of .sideBar__group2-one */
.sideBarOption:hover .sideBar__group2-one {
  background-color: #fff;
  transition: background-color 200ms;
}
.sideBar__group2-two {
  background: linear-gradient(145deg, #340eab, #849e99);
}
.sideBar__playlists {
  margin-top: 20px;
  font-size: 13px;
  color: #b3b3b3;
}
